<h2>Results of sync for <%= @artist.name %></h2>

<% if @newJams.any? then %>

New jams discovered:

<% @newJams.each do |jam| %>
	<%= jam.jam_creation_date.strftime("%B %e, %Y at %I:%M%p") %>: <A href="http://thisismyjam.com/<%= jam.jam_username %>"><%= jam.jam_username %></a> jammed "<%= jam.jam_title %>" <%= link_to '(remove)', :controller => 'jams', :action => 'remove', :id => jam.id %><BR/>
<% end %>

<% else %>

No new jams discovered.

<% end %>

<BR/>
<%= link_to 'Back', root_path %>
