<h1>Listing jams</h1>

<table>
  <tr>
    <th>Band</th>
    <th>Jam</th>
    <th>From</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Via</th>
    <th>Via url</th>
    <th>Creation date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jams.each do |jam| %>
  <tr>
    <td><%= jam.band_id %></td>
    <td><%= jam.jam_id %></td>
    <td><%= jam.from %></td>
    <td><%= jam.title %></td>
    <td><%= jam.artist %></td>
    <td><%= jam.via %></td>
    <td><%= jam.via_url %></td>
    <td><%= jam.creation_date %></td>
    <td><%= link_to 'Show', jam %></td>
    <td><%= link_to 'Edit', edit_jam_path(jam) %></td>
    <td><%= link_to 'Destroy', jam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jam', new_jam_path %>
